//img:after {
//    content: "\f110";
//
//    font-size: 18px;
//    font-family: FontAwesome;
//    color: rgb(100, 100, 100);
//
//    display: block;
//    //position: absolute;
//    //z-index: 2;
//    //top: 0;
//    //left: 0;
//    width: 20px;
//    height: 20px;
//    background-color: #fff;
//  }

.cah-news-item {
     display: flex;
     color: inherit;
     padding: 4px;
     margin-bottom: 4px;

    &:hover {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
        background: #eceeef;
        
    }

    &:active {
        text-decoration: none;

    }
}

